<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:8733/VelibService" binding="wsDualHttpBinding"
        bindingConfiguration="WSDualHttpBinding_IService11" contract="VelibReference1.IService1"
        name="WSDualHttpBinding_IService1">
        <identity>
          <userPrincipalName value="DESKTOP-0F6JLRJ\Marion" />
        </identity>
      </endpoint>
    </client>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IService1" maxBufferSize="655360"
          maxReceivedMessageSize="655360" />
      </basicHttpBinding>
      <wsDualHttpBinding>
        <binding name="WSDualHttpBinding_IService1" />
        <binding name="WSDualHttpBinding_IService11" />
      </wsDualHttpBinding>
    </bindings>
  </system.serviceModel>
</configuration>